.gr {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $pr;
    padding-left: $pl;
}

@media (min-width: $screens) {
    .gr {
        max-width: 540px;
    }
}

@media (min-width: $screensm) {

    .gr {
        max-width: 720px;
    }
}

@media (min-width: $screenmd) {

    .gr {
        max-width: 960px;
    }
}

@media (min-width: $screenlg) {

    .gr {
        max-width: 1140px;
    }
}

@media (min-width: $screenxl) {

    .gr {
        max-width: 1320px;
    }
}

.gr-md {
    flex: 0 0 auto;
    width: 50%;

    @media screen and (max-width: $screenmd) {
        flex: 0 0 auto;
        width: 100%;
    }
}