@import "_variables";
@import "_mixin";
@import "_grid";
@import "reset";
@import "header";

main {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    .submit {
        a {
            background: $grey;
            height: 100px;
            border-radius: 4px;
            border: 1px solid $grey-50;
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            @include box-shadow;
            @include hover-out;
    
            .plus {
                @include box;
    
                svg {
                    height: 50px;
                    width: 50px;
                }
            }
    
            span {
                font-size: $fontxl;
                color: $black;
                font-weight: 600;
                align-self: center;
            }
    
            &:hover {
                box-shadow: unset;
                @include hover-out;
            }
        }
    }

    .filter {
        border-top: 2px solid $grey-50;
        margin-top: 2rem;
        padding: 1rem 0;
        position: relative;

        select {
            background: #f1f1f1;
            border:1px solid $grey-50;
            height: 40px;
            padding:7px 15px;
            border-radius: 4px;
        }
    }

    .wrap-links {
        display: flex;
        padding: 10px;
        @include hover-out;
        cursor: pointer;
        position: relative;
        margin: 1rem 0;

        .point {
            @include box;
            flex-direction: column;

            span.score {
                font-weight: 700;
                font-size: $fontlg;
                line-height: 0.8;
            }

            span {
                font-weight: 400;
                font-size: $fontm;
                text-transform: uppercase;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;

            .title {
                h3 {
                    line-height: 0.9;
                }

                a {
                    font-size: 70%;
                    opacity: 0.5;
                }
            }

            .vote {
                display: flex;
                justify-content: space-between;
                font-size: $fonts;

                .up,
                .down {
                    display: flex;
                    align-items: center;

                    span, svg {
                        @include hover-out;
                    }

                    span {
                        color: $grey-300;
                        font-weight: 600;
                    }

                    svg {
                        color: $grey-200;
                    }
                }

                .up {
                    &:hover {

                        span,
                        svg {
                            color: $green-100;
                            @include hover-out;
                        }
                    }
                }

                .down {
                    &:hover {

                        span,
                        svg {
                            color: Red;
                            @include hover-out;
                        }
                    }

                }
            }
        }

        .delete {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            @include hover-out;
            right: -13px;
            top: -15px;
            border: 4px solid white;
            background: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 5px #00000061;

            span {
                color: white;
                font-size: $fontlg;
                font-weight: 500;
                line-height: 1.5;
            }
        }

        &:hover {
            background: $grey;
            border-radius: 4px;
            @include hover-out;

            .delete {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 4rem;

        ul {
            display: flex;


            li {
                font-size: $fontl;
                font-weight: 600;
                cursor: pointer;
                @include hover-out;

                &.active {
                    border: 1px solid $black;
                    padding: 0 6px;
                }

                &.left,
                &.right {
                    display: flex;
                    align-items: center;

                    svg {
                        height: 28px;
                        width: 28px;
                    }
                }

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:hover {
                    opacity: 0.6;
                    @include hover-out;
                }
            }
        }
    }

    .add-new-link {

        .return {
            position: relative;
            cursor: pointer;

            .arrow {
                @include arrow;
                position: absolute;
                left: 0;
                top: 6.5px;
            }

            span {
                padding-left: 2rem;
            }
        }

        h2 {
            margin: 3.5rem 0;
        }

        .form-block {
            display: flex;
            flex-direction: column;
            margin: 2rem 0;

            label {
                padding-left: 1rem;
                font-size: $fontm;
            }

            input {
                border-radius: 4px;
                border: 1px solid $grey-100;
                background: white;
                height: 50px;
                padding: 0 5px;

                &::placeholder {
                    opacity: 0.3;
                }
            }
        }

        button {
            @include btn;
        }
    }

    .msg {
        height: 50px;
        background-color: $green;
        border:1px solid $green-100;
        border-radius: 4px;
        box-shadow: 0 0px 15px 1px #000000a1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 9;
        padding:15px 50px;
        
        span {
            font-weight: 700;
            color:$green-100;
            font-size: $fontl;
        }
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        right:0;
        background-color: #00000094;

        .alert {
            width: 450px;
            border:1px solid $grey-400;
            background: $grey-50;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 9;
            box-shadow: 0 0px 20px 5px #000000a1;

            .title {
                background: black;
                height: 50px;
                color:white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:10px;

                .remove {
                    cursor: pointer;
                }
            }

            .box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color:$black;
                padding:20px;

                span {
                    margin-top: 2rem;
                }

                h3 {
                    font-size: $fontlg;
                }

                .btn {
                    margin:2rem 0;
                    button {
                        @include btn;

                        &:not(:last-child) {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.loader {
    height: 100%;
    width: 100%;
    color: $currentColor;
    font-size: $fontxl;
    @include modal-position;
}